#!/bin/bash
# File:         bluray.conf
# Description:  BluRay configuration file for AutoRip.
#               (Stored settings for MakeMKV, HandBrake)
# Author:       Aaron Meier <aaron@bluespeed.org>

BLURAY_SRC='/dev/sr1'
BLURAY_OUT='/mnt/autorip/bluray'
BLURAY_OPTACT='mkv disc:0'
BLURAY__OPTPRF='--profile=../conf/autorip-profile.mccp.xml'
BLURAY_OPTLOG='--messages=-stdout --progress=-same'
BLURAY_OPTDEV='--directio=true --noscan'
BLURAY_OPTCNV='--decrypt all'
BLURAY_OPTMSC='--minlength=1800'
BLURAY_TITLE=$(/sbin/blkid -o value -s LABEL $BLURAY_SRC)
BLURAY_TITLE=${BLURAY_TITLE// /_}
HBR_OPTGEN='--markers --normalize-mix 1'
HBR_OPTSUB='--subtitle '\''scan,1,2'\'' --subtitle-forced --subtitle-default 1 --native-language deu --native-dub'
HBR_PRESET='--preset='\''High Profile'\'''
